<div id="page">
    <div class="wrapper">
        <div class="container25">
            <h1>{{error.status}} {{error.message}}</h1>
            <p>
                {{error.stack}}
            </p>
        </div>
    </div>
</div>